* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.heading {
  background-color: cyan;
  color: navy;
  padding: 16px;
}

.heading h1 {
  font-size: 3em;
}

form {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: navy;
}

form input {
  flex: 1;
  height: 50px;
}

form button {
  background-color: aquamarine;
  margin-left: 8px;
}

.forecast {
  padding: 16px;
  background-color: black;
  color: white;
  font-size: 2em;
}